**/node_modules/
.DS_Store
config/.config/raycast/
config/.config/htop/
config/.config/cava/
# github-copilot stores the auth token
config/.config/github-copilot/ 
config/.config/tmux/plugins/
config/.config/karabiner/automatic_backups/
config/.config/chatreply/
config/.config/raycast/extensions/
